<header *ngIf="isHomePage">
    <img src="/assets/logo-horizontal-branco.png" alt="Logo">
    <div>
        <p class="pUserName">{{userName}}</p>
        <p 
        class="pLink"
        *ngIf="showRegister"
        (click)="goRegister()"
        > Cadastrar</p>
        <p 
        class="pLink"
        *ngIf="shouldShowInsertButton"
        (click)="handleInsertClick()"
        >{{buttonText}}</p>
        <p
        class="pLink"
        (click)="logout()"
        >Sair</p>
    </div>
</header>