form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

h1 {
  color: white;
}

app-input-password,
app-button {
  width: 100%;
  max-width: 570px;
}
