<form [formGroup]="alterPassForm">
  <h1>Alterar senha</h1>

  <app-input-password
    [pErrorText]="'Senha invalída'"
    [showError]="currentShowError"
    formControlName="currentPass"
  />

  <app-input-password
    [pErrorText]="'Senha invalída'"
    [showError]="newShowError"
    formControlName="newPass"
  />

  <app-input-password
    [pErrorText]="'Senha invalída'"
    [showError]="confirmShowError"
    formControlName="matchNewPass"
  />

  <app-button [buttonText]="'Alterar'" (onSubmit)="sendUpdate()" />
</form>
