form {
  display: flex;
  width: 100%;
  max-width: 570px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--surface-color);
}

h1 {
  color: white;
}

app-input-password,
app-button {
  width: 100%;
  max-width: 570px;
}
