<label [for]="labelName">{{ labelText }}</label>
<div [ngClass]="reverseOrietation ? 'reverse-orietation' : 'normal-orietation'">
  <img
    *ngIf="shouldShowPassword"
    [src]="toggleIcon"
    [alt]="imageAlt"
    (click)="togglePasswordVisibily()"
  />
  <input
    [id]="labelName"
    [type]="CurrentInputType"
    [placeholder]="inputPlaceHolder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
    [appOnlyNumbers]="onlyNumbers"
  />
</div>
<p *ngIf="showError">{{ pErrorText }}</p>
