<form [formGroup]="formFilterData" class="formFilterData">
  <div class="top">
    <app-select
      [labelName]="'unit'"
      [labelText]="'Selecione a unidade'"
      [pErrorText]="'Unidade invalída'"
      [showError]="unitInvalid"
      [itens]="unitArray"
      formControlName="unit"
    />

    <div>
      <input
        type="checkbox"
        id="allUnits"
        formControlName="allUnits"
        (click)="toggleDisable()"
      />
      <label for="allUnits" id="allUnitsLabel">Selecionar todas</label>
    </div>
  </div>
  <div class="bottom">
    <app-input-data
      [labelName]="'startDate'"
      [labelText]="'Data inicial:'"
      [placeHolder]="'00/00/0000'"
      [showError]="initDateInvalid"
      [pErrorText]="'Data invalída'"
      formControlName="startDate"
    />

    <app-input-data
      [labelName]="'endDate'"
      [labelText]="'Data final:'"
      [placeHolder]="'00/00/0000'"
      [showError]="endDateInvalid"
      [pErrorText]="'Data invalída'"
      formControlName="endDate"
    />

    <app-button
      [buttonText]="'FILTRAR'"
      [isLoading]="isLoadingFilter"
      [disable]="disableFilterButton"
      (click)="getFilter()"
    />

    <app-button
      [buttonText]="'IMPRIMIR'"
      [orangeButton]="true"
      [isLoading]="isLoadingPrint"
      [disable]="disablePrintButton"
      [imageSrc]="'assets/print.png'"
      (click)="selectReport()"
    />
  </div>
</form>
<app-table [data]="data" />
