.formFilterData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .top {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 16px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    margin-top: 16px;
    gap: 8px;
  }

  app-button,
  app-input-data {
    width: 24%;
  }

  #allUnitsLabel {
    font-size: 16px;
    margin-left: 8px;
    color: var(--text-color-primary);
  }
}

app-table {
  width: 100%;
  max-width: 750px;
  height: 500px;
  margin-top: 24px;
  overflow-y: auto;
}

@media (max-width: 798px) {
  .formFilterData {
    flex-direction: column;
    align-items: start;
    gap: 12px;

    app-button,
    app-input-data,
    app-select {
      width: 100%;
    }
  }

  .formFilterData .top,
  .formFilterData .bottom {
    display: contents;
  }
}
