<div class="content">
  <img src="/assets/logo-horizontal-branco.png" alt="Logo" />
  <form [formGroup]="loginForm">
    <app-input
      class="input"
      [labelName]="'email'"
      [labelText]="'Email:'"
      [placeHolder]="'Insira seu email'"
      [pErrorText]="'Email invalído!'"
      [showError]="emailValid"
      [imageSrc]="'/assets/person.png'"
      [imageAlt]="'Email'"
      [reverseOrietation]="true"
      formControlName="username"
    />

    <app-input-password
      class="input"
      [pErrorText]="'Senha precisar ter no minímo 6 caracteres'"
      [showError]="passwordValid"
      formControlName="password"
    />

    <app-button class="button" [buttonText]="'ACESSAR'" (onSubmit)="login()" />
  </form>
</div>
