<div class="content">
  <form [formGroup]="registerForm">
    <app-input
      class="input"
      [labelName]="'name'"
      [labelText]="'Nome:'"
      [placeHolder]="'Insira seu nome'"
      [pErrorText]="'Nome inválido'"
      [showError]="nameInvalid"
      formControlName="name"
    />

    <app-input
      class="input"
      [labelName]="'username'"
      [labelText]="'Nome de usuário:'"
      [placeHolder]="'Usuário'"
      [pErrorText]="'Usuário inválido'"
      [showError]="usernameInvalid"
      formControlName="username"
    />

    <app-select
      class="select"
      [labelName]="'Escolha uma unidade'"
      [labelText]="'Selecione sua unidade:'"
      [itens]="unitArray"
      [pErrorText]="'Selecione sua unidade'"
      [showError]="unitInvalid"
      formControlName="unit"
    >
    </app-select>

    <app-button
      class="button"
      [buttonText]="'CADASTRAR'"
      (click)="register()"
    />
  </form>
</div>
