<div class="content">
    <img src="/assets/logo-horizontal-branco.png" alt="logo">
    <form [formGroup]="registerForm">
        <app-input
        class="input"
        [labelName]="'name'"
        [labelText]="'Nome:'"
        [inputPlaceHolder]="'Insira seu nome'"
        formControlName="name"/>
        <p *ngIf="nameInvalid" class="error">Nome inválido</p>

        <app-input
        class="input"
        [labelName]="'email'"
        [labelText]="'Email:'"
        [inputType]="'email'"
        [inputPlaceHolder]="'Insira seu email'"
        formControlName="email"/>
        <p *ngIf="emailInvalid" class="error">Email inválido</p>

        <app-input
        class="input"
        [labelName]="'password'"
        [labelText]="'Senha:'"
        [inputType]="'password'"
        [inputPlaceHolder]="'Insira sua senha'"
        formControlName="password"/>
        <p *ngIf="passwordInvalid" class="error">Senha inválido</p>

        <app-input
        class="input"
        [labelName]="'confirmPass'"
        [labelText]="'Confirmar senha:'"
        [inputType]="'password'"
        [inputPlaceHolder]="'Confirme sua senha'"
        formControlName="rePassword"/>
        <p *ngIf="matchPassword" class="error">Senhas não coincidem</p>

        <app-select
        class="select"
        [labelName]="'Escolha um item'"
        [labelText]="'Selecione sua unidade:'"
        [itens]="unitArray"
        formControlName="unit">
      </app-select>
      <p *ngIf="unitInvalid" class="error">Selecione sua unidade</p>

        <app-button class="button" [buttonText]="'CADASTRAR'" (click)="register()"/>
    </form>
</div>