.container {
  width: 100%;
  max-width: 750px;
  margin-top: 16px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--surface-color);
}

.collectDataForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  width: 100%;
  color: var(--text-color-primary);

  h2 {
    margin-top: 24px;
    color: var(--text-color-primary);
  }
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    app-input-only-numbers {
      width: 30%;
    }
  }

  app-button {
    width: 200px;
    margin-top: 24px;
    margin-left: auto;
  }
}

.searchDataForm {
  width: 100%;
  max-width: 750px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 16px;

  app-input-data {
    width: 25%;
  }

  app-button {
    width: 25%;
  }
}

app-table {
  width: 100%;
  max-width: 750px;
  height: 500px;
  margin-top: 24px;
  overflow-y: auto;
}

@media (max-width: 798px) {
  .collectDataForm {
    margin-top: 24px;
    color: var(--text-color-primary);

    h2 {
      font-size: 20px;
    }

    app-button {
      width: 200px;
    }
  }

  .searchDataForm {
    flex-direction: column;
    app-input-data {
      width: 100%;
    }
    app-button {
      width: 100%;
    }
  }
}
