<form [formGroup]="collectDataForm" class="collectDataForm">
  <h1>Temperatura Geladeira:</h1>
  <div class="refrigarator">
    <app-input
      [labelName]="'refmin'"
      [labelText]="'Miníma:'"
      [inputPlaceHolder]="'0.00°C'"
      [onlyNumbers]="true"
      [showError]="refMinInvalid"
      [pErrorText]="'Dado invalído'"
      formControlName="refMin"
    />

    <app-input
      [labelName]="'refcur'"
      [labelText]="'Atual:'"
      [inputPlaceHolder]="'0.00°C'"
      [onlyNumbers]="true"
      [showError]="refCurInvalid"
      [pErrorText]="'Dado invalído'"
      formControlName="refCur"
    />

    <app-input
      [labelName]="'refmax'"
      [labelText]="'Maxíma:'"
      [inputPlaceHolder]="'0.00°C'"
      [onlyNumbers]="true"
      [showError]="refMaxInvalid"
      [pErrorText]="'Dado invalído'"
      formControlName="refMax"
    />
  </div>
  <h1>Temperatura Ambiente:</h1>
  <div class="environment">
    <app-input
      [labelName]="'envmin'"
      [labelText]="'Miníma:'"
      [inputPlaceHolder]="'0.00°C'"
      [onlyNumbers]="true"
      [showError]="envMinInvalid"
      [pErrorText]="'Dado invalído'"
      formControlName="envMin"
    />

    <app-input
      [labelName]="'envcur'"
      [labelText]="'Atual:'"
      [inputPlaceHolder]="'0.00°C'"
      [onlyNumbers]="true"
      [showError]="envCurInvalid"
      [pErrorText]="'Dado invalído'"
      formControlName="envCur"
    />

    <app-input
      [labelName]="'envmax'"
      [labelText]="'Maxíma:'"
      [inputPlaceHolder]="'0.00°C'"
      [onlyNumbers]="true"
      [showError]="envMaxInvalid"
      [pErrorText]="'Dado invalído'"
      formControlName="envMax"
    />
  </div>
  <app-button [buttonText]="'ENVIAR'" (onSubmit)="send()" />
</form>

<form [formGroup]="searchDataForm" class="searchDataForm">
  <app-input
  [labelName]="'initDate'"
  [labelText]="'Data inicial:'"
  [inputPlaceHolder]="'00/00/0000'"
  [onlyNumbers]="true"
  [showError]="dateInitInvalid"
  [pErrorText]="'Data Invalída'"
  [imageAlt]="'Calendario'"
  [imageSrc]="'/assets/calendar.png'"
  formControlName="initData"/>
  <app-input
  [labelName]="'endDate'"
  [labelText]="'Data final:'"
  [inputPlaceHolder]="'00/00/0000'"
  [onlyNumbers]="true"
  [showError]="dateEndInvalid"
  [pErrorText]="'Data invalída'"
  [imageAlt]="'Calendario'"
  [imageSrc]="'/assets/calendar.png'"
  formControlName="endData"/>
  <app-button 
  [buttonText]="'FILTRAR'"
  (onSubmit)="searchData()"/>
  <app-button 
  [buttonText]="'IMPRIMIR'"
  [orangeButton]="true"
  [imageAlt]="'Print'"
  [imageSrc]="'/assets/print.png'"
  (onSubmit)="printSelection()"/>
</form>
<app-table [data]="data" />
