<table>
  <thead>
    <tr>
      <th rowspan="2" class="sticky">Data</th>
      <th colspan="3" class="sticky">Geladeira</th>
      <th colspan="3" class="sticky">Ambiente</th>
      <th rowspan="2" class="sticky">Usuário</th>
    </tr>
    <tr>
      <th class="sticky">Mínimo</th>
      <th class="sticky">Atual</th>
      <th class="sticky">Máximo</th>
      <th class="sticky">Mínimo</th>
      <th class="sticky">Atual</th>
      <th class="sticky">Máximo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.data }}</td>
      <td>{{ item.fridge.min }}</td>
      <td>{{ item.fridge.cur }}</td>
      <td>{{ item.fridge.max }}</td>
      <td>{{ item.env.min }}</td>
      <td>{{ item.env.cur }}</td>
      <td>{{ item.env.max }}</td>
      <td>{{ item.user }}</td>
    </tr>
  </tbody>
</table>
